.Container {
    width: 100%;
    min-height: 100vh;
    /* margin-left: auto; */
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap;
    text-align: left; */
    color: #030002;
    font-size: medium;
    padding-top: 3%;

}