.Container {
    width: 20%;
    min-height: 100vh;
    margin-right: auto;
    border: 2px solid #030002;
    display: list-item;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: left;
    color: #030002;
    font-size: medium;
    padding-top: 3%;
}

.Header {
    font-size:large;
    padding-top: 15%;
    padding-left: 10%;
}

